


#movie_base{
  border:1px solid black;
  /* margin:0 auto; */
  margin-left:10px;
}

#movieFrame{
  margin:8px auto;
}
#movie_base{
  width:720px;
  height:480px;
}



  

  #movie_base .text{
    z-index: 110;
    position: absolute;
    width:100%;
    background-color:transparent;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 6px black;
    text-align:center;
    font-weight:bold;

    white-space: pre-wrap;
    word-wrap: break-word;
  }

#materials{
  display:none;
}


#movie_base img.pics[data-before="anim-zi"],
#movie_base img.pics[data-before="zoom-in"]{
  transform:scale(1.5);
}
#movie_base img.pics[data-before="anim-zo"],
#movie_base img.pics[data-before="zoom-out"]{
  transform:scale(1.0);
}
#movie_base img.pics[data-before="anim-fo"],
#movie_base img.pics[data-before="fade-out"]{
  opacity:0;
}
#movie_base img.pics[data-before="anim-fi"],
#movie_base img.pics[data-before="fade-in"]{
  opacity:1;
}

#movieTime{
  display:inline-block;
  min-width:100px;
  max-width:300px;
  height:34px;
  font-size:14px;
  border:1px solid #CCC;
  border-radius:4px;
  padding:6px 12px;
  text-align:center;
  vertical-align: middle;
}

#movie_base img.pics,
#movie_base .text{
  transition-property: opacity,visibility;
  transition-timing-function:linear;
}
#movie_base img.pics[data-css-fo="1"],
#movie_base .text[data-css-fo="1"]{
  opacity:0;
  visibility:hidden;
}



@media (max-width: 499px){
	#movie_base{
    width:320px;
    height:240px;
  }
  .movie-controller{
    width:320px;
    margin:10px auto;
  }
}
@media (min-width: 500px){
  #movieFrame{
    width:480px;
    height:320px;
  }
  .movie-controller{
    width:480px;
    margin:0 auto;
    text-align:center;
  }
}
@media (min-width: 750px){
  #movieFrame{
    width:720px;
    height:480px;
  }
  .movie-controller{
    width:720px;
    margin:0 auto;
  }
}




#movie_base .text[data-view-type="ranking"]{
  position:absolute;
  bottom:0 !important;
  background-color:rgba(0,0,0,0.5);
  line-height:40px;
  font-size:40px;
  color:white;
  font-weight:bold;
  text-align:center;
  padding:8px 50px 20px;
  box-shadow:none;
  text-shadow:none;
}

#movie_base .good{
  height:40px;
}
#movie_base .good-blank{
  display:inline-block;
  margin-left:40px;
}
#movie_base .good-image{
  content:url("../img/movie/heart-on.svg");
  width:40px;
  vertical-align: middle;
  margin-left:8px;
}
#movie_base .good-count{
  color:red;
  margin-left:8px;
}
#movie_base .good-rank-1{
  content:url("../img/movie/king_gold.svg");
  width:40px;
  vertical-align: middle;
  margin-left:8px;
}

#fullscreen{
  font-size:14px;
}





.movie_control > *{
  display:inline-block;
  margin:8px 4px 8px 10px;
  vertical-align:middle;
}

  #movie_time{
    display:inline-block;
    width:100px;
    height:20px;
    border:1px solid #ccc;
    border-radius:4px;
    background-color:white;
    color:#666;
    padding:4px 8px;
    font-size:12px;
    text-align:center;
    margin-left:10px;
    margin-top:8px;
  }

  #movie_play,
  #movie_pause,
  #movie_return,
  #movie_expand{
    border:1px solid #ccc;
    border-radius:4px;
    width:40px;
    height:30px;
    line-height:30px;
    text-align:center;
    cursor:pointer;
    background-repeat:no-repeat;
    background-size:auto 60%;
    background-position:center;
  }
  #movie_play{
    background-image : url("sample/icon/play.svg");
  }
  #movie_play[data-play="0"]{
    display:none;
  }
  #movie_play[data-play="1"]{
    display:inline-block;
  }
  #movie_pause{
    background-image : url("sample/icon/pause.svg");
  }
  #movie_pause[data-pause="0"]{
    display:none;
  }
  #movie_pause[data-pause="1"]{
    display:inline-block;
  }
  #movie_return{
    background-image : url("sample/icon/return.svg");
  }
  #movie_expand{
    background-image : url("sample/icon/expand.svg");
  }
  #movie_play:hover,
  #movie_pause:hover,
  #movie_return:hover,
  #movie_expand:hover{
    opacity:0.5;
  }


