
/* Base */
[data-base="slide_mov"]{
  position:relative;
  background-color:black;
  overflow:hidden;
  cursor:pointer;
}

[data-base="slide_mov"] .slide_mov_images{
  z-index : 1;
}
[data-base="slide_mov"] .slide_mov_texts{
  position:relative;
  z-index : 2;
}
[data-base="slide_mov"] .slide_mov-play,
[data-base="slide_mov"] .slide_mov-pause{
  z-index : 10;
}
[data-base="slide_mov"] .slide_mov_loading{
  z-index : 99;
}


@keyframes anim-fo{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@keyframes anim-fi{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
/* 
@keyframes anim-mov-play-fo{
  0%{
    opacity:1.0;
  }
  50%{
    opacity:1.0;
  }
  100%{
    opacity:0.0;
  }
} */

@keyframes anim-zoom-in{
  0%{
    transform:scale(1.0);
    left:0;
  }
  100%{
    transform:scale(1.5);
    left:0;
  }
}

/* @keyframes anim-zi-slow{
  0%{
    transform:scale(1.0);
    left:0;
  }
  100%{
    transform:scale(1.2);
    left:0;
  }
} */
@keyframes anim-zoom-out{
  0%{
    transform:scale(1.5);
    left:0;
  }
  100%{
    transform:scale(1.0);
    left:0;
  }
}

/* @keyframes anim-zo-slow{
  0%{
    transform:scale(1.2);
    left:0;
  }
  100%{
    transform:scale(1.0);
    left:0;
  }
} */
@keyframes anim-move-right{
  0%{
    transform:scale(1.3);
    left:-15%;
  }
  100%{
    transform:scale(1.3);
    right:15%;
  }
}
/* @keyframes anim-move-right-slow{
  0%{
    transform:scale(1.1);
    left:-5%;
  }
  100%{
    transform:scale(1.1);
    left:5%;
  }
} */
@keyframes anim-move-left{
  0%{
    transform:scale(1.3);
    left:15%;
  }
  100%{
    transform:scale(1.3);
    left:-15%;
  }
}
/* @keyframes anim-move-left-slow{
  0%{
    transform:scale(1.1);
    left:5%;
  }
  100%{
    transform:scale(1.1);
    left:-5%;
  }
} */

/* @keyframes anim-fi-fo{
  0%{
    opacity:0;
  }
  15%{
    opacity:1;
  }
  85%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
} */
/* @keyframes anim-fi-fo-slow{
  0%{
    opacity:0;
  }
  20%{
    opacity:1;
  }
  70%{
    opacity:1;
  }
  90%{
    opacity:0;
  }
  100%{
    opacity:0;
  }
} */
@keyframes anim-move-up{
  0%{
    transform:scale(1.3);
    top:15%;
  }
  100%{
    transform:scale(1.3);
    top:-15%;
  }
}
@keyframes anim-move-down{
  0%{
    transform:scale(1.3);
    top:-15%;
  }
  100%{
    transform:scale(1.3);
    top:15%;
  }
}

@keyframes anim-scroll-up{
  0%{
    top:auto;
  }
  100%{
    bottom:100%;
  }
}



/* Control */

[data-base="slide_mov"] > .slide_mov-play,
[data-base="slide_mov"] > .slide_mov-pause{
  background-size:contain;
  position:absolute;
  width:100px;
  height:100px;
  top:calc(50% - 50px);
  left:calc(50% - 50px);
  border:0;
  margin:0;
  padding:0;
  border-radius:50%;
  overflow:hidden;
  opacity:0.25;
}
[data-base="slide_mov"] > .slide_mov-play > *,
[data-base="slide_mov"] > .slide_mov-pause > *{
  width:100%;
  height:100%;
}
[data-base="slide_mov"]:hover > .slide_mov-play{
  opacity:0.5;
}
[data-base="slide_mov"] > .slide_mov-play{
  display:block;
}
[data-base="slide_mov"][data-play="1"] > .slide_mov-play{
  display:none;
}
[data-base="slide_mov"] > .slide_mov-pause{
  opacity:0.5;
  display:none;
}
[data-base="slide_mov"][data-play="1"] > .slide_mov-pause{
  display:block;
}

[data-base="slide_mov"] > .slide_mov-pause[data-fadeout="1"]{
  /* animation: anim-pause-fo 3s ease-in-out 1; */
  animation-name: anim-pause-fo;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes anim-pause-fo{
  0%{
    opacity : 0.5;
  }
  100%{
    opacity : 0.0;
  }
}



/* Loading */
.slide_mov-loading{
  z-index : 1000000;
  display:block;
  position:absolute;
  top  : calc(100% / 2 - 64px);
  left : calc(100% / 2 - 64px);
  width:128px;
  height:128px;
  border:1px solid #1DA9F1;
  border-radius:50%;
  animation: anim-ring 2s ease-in-out infinite;
  background-color:transparent;
}

.slide_mov-loading:before{
  content:"";
  position:absolute;
  top:calc(16px / 2 * -1 - 2px);
  left:calc((100% - 16px) / 2 - 2px);
  width:16px;
  height:16px;
  border-radius:50%;
  background-color:#1DA9F1;
}
@keyframes anim-ring{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}


/* Images */

[data-base="slide_mov"] .img-base{
  width  : 100%;
  height : 100%;
  position:absolute;
  display:block;
  background-color:transparent;
  top:0;
  left:0;
  
}
[data-base="slide_mov"] .img-base .pics{
  width  : 100%;
  height : 100%;
  object-fit: cover;
}

[data-base="slide_mov"] .img-base,
[data-base="slide_mov"] .img-base *,
[data-base="slide_mov"] .text-base,
[data-base="slide_mov"] .text-base *{
  animation-play-state:paused !important;
}
[data-base="slide_mov"][data-play="1"] .img-base,
[data-base="slide_mov"][data-play="1"] .img-base *,
[data-base="slide_mov"][data-play="1"] .text-base,
[data-base="slide_mov"][data-play="1"] .text-base *{
  animation-play-state:running !important;
}


/* Texts */
[data-base="slide_mov"] .text-base{
  position:absolute;
  display:inline-block;
  overflow:visible;
  visibility:hidden;
}
[data-base="slide_mov"] .text-value{
  display:block;
  width:100%;
  height:100%;
  text-shadow:4px 4px 4px rgba(0,0,0,0.5);
}

[data-base="slide_mov"] .text-base[data-type="scroll"]{
  display:block;
  width:100%;
  text-align:center;
}
[data-base="slide_mov"] .text-base[data-type="scroll"] .text-value{
  display:inline-block;
  position:static;
  width:auto;
  max-width:100%;
}



/* Volume */
.volume-lists{
  position:absolute;
  display:inline-block;
  overflow:hidden;
  width:200px;
}
.volume-lists > *{
  width:40px;
  height:30px;
  border:1px solid #ccc;
  margin:2px;
  border-radius:4px;
  object-fit:contain;
}



